build/
subprojects/googletest-release-*
subprojects/packagecache/
*~
/README.html
/LinearAlgebra.srctrlbm
/LinearAlgebra.srctrldb
/LinearAlgebra.srctrlprj
*.html
/.clangd/
/compile_commands.json
/buildclang/
/buildgcc/
/relbuild/
/index.org
/setup/extract
/theindex.inc
